body {
    margin: 0;
    overflow: hidden;
    background: mintcream;
}

.scene-button {
    position: absolute;
    background: lightgray;
    border: none;
    border-radius: 25% 25% 25% 25%;
    height: 40px;
    width: 40px;
    z-index: 10;
    cursor: pointer;
    top: 50%;
}

.scene-button:hover {
    background-color: darkgray;
    color: aliceblue;
}

#previous-scene {
    left: 1%;
}

#next-scene {
    right: 1%;
}

div[id*="scene"] {
    position: absolute;
    width: 0px;
    overflow: hidden;
}

[id*="scene"].active {
    right: 0;
    width: 100%;
    height: 94%;
}

[class*=prop-] {
    position: absolute;
}

#scene-one {
    
}

#scene-one .prop-one {
    top: -100vh;
    left: 70vw;
}

#scene-one .prop-two {
    font-size: 1.5em;
    top: 50vh;
    right: -100vw;
}

#scene-one .prop-three {
    width: 25%;
    font-size: 2em;
    text-wrap: normal;
    bottom: -100vh;
    left: -100vw;
}

#scene-one.active .prop-one {
    top: 10vh;
    left: 70vw;
}

#scene-one.active .prop-two {
    top: 50vh;
    left: 70vw;
}

#scene-one.active .prop-three {
    bottom: 20vh;
    left: 15vw;
}

#scene-one.active .prop-four {
    left: 14vw;
    top: 14vh;
}

#logo {
    height: 20vh;
    width: 27vw;
}

#me {
    height: 40vh;
    width: 27vh;
}

#scene-two {
    
}

#scene-three {
    
}

#scene-four {
    
}