@{
    ViewBag.Title = "Cater - Personal Site";
}

@section PageScripts {
    @Scripts.Render("~/Scripts/HomePage/StageHands.js")

}

@section PageStyles {
    @Styles.Render("~/Content/PageStyles/HomePage.css")
}

<div id="stage">

    <input value="<" id="previous-scene" type="button" class="scene-button" data-direction="-1" />

    <div id="scene-one">This will just be a picture of me with text stating who I am and welcoming them to the site.</div>
    <div id="scene-two">My educational background</div>
    <div id="scene-three">Shows my gaming interests. I'm thinking a soundless video of just a bunch of clips of me playing the games.</div>
    <div id="scene-four">Showing other things I do. Maybe inlude a site map there.</div>

    <input value=">" id="next-scene" type="button" class="scene-button" data-direction="1" />

</div>