
@{
    ViewBag.Title = "JavascriptMagic";
}


@section PageScripts 
{ 
    @Scripts.Render("~/Scripts/JavascriptMagic/CanvasGame.js")
}

@section PageStyles
{
    
}

<h2>JavascriptMagic</h2>

<canvas id="game-screen"></canvas>