#nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 8vh;
}

#nav-bar ul {
    list-style-type: none;
}

#nav-bar ul li {
    display: inline-block;
}

#nav-bar ul li a {
    text-decoration: none;
}

main {
    padding-top: 8vh;
}